.fundoCadastro {
    background-image: url(../../assets/fundo-cadastro.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }