.primeiroCard {
  background-image: url(../../assets/pequenomedioagricultor.jpg);
}

.segundoCard {
  background-image: url(../../assets/agriculturasustentavel.jpg);
}

.terceiroCard {
  background-image: url(../../assets/equipeagricultura.jpg);
}
